BASE_API=your base api url

GOOGLE_SERVICE_ACCOUNT_KEY="encoded key"

#cloudinary config
CLOUDINARY_CLOUD_NAME=cloudinary cloud name
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=cloudinary api secret